body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #000000;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 50%;
    height: 2px;
    background-color: yellow;
    transform-origin: 0% 100%;
    transform: rotate(0deg);
    transition: transform 1s linear;
}

.hour {
    height: 4px;
    background-color: white;
    animation: rotateHour 12s infinite linear;
}

.minute {
    animation: rotateMinute 60s infinite linear;
}

@keyframes rotateHour {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateMinute {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}